@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2 class="display-4">Task Management Website</h2>
</div>

<div class="container">
    <div class="row">

        <div class="col-2"></div>

        <div class="col-md-8">
            <p>
                Our task management website is a comprehensive tool that allows you to manage all aspects of your work. With the ability to create and assign tasks, set deadlines, and track progress, you'll have everything you need to stay on top of your to-do list. You can also use our platform to collaborate with your team, whether you're working on a group project or simply need to delegate tasks.
            </p>
            <p>
                Our interface is user-friendly and easy to navigate, so you'll be able to get started quickly and start managing your tasks with minimal fuss. We offer a range of powerful features that allow you to customize your workflow and stay organized, such as the ability to set priorities and add notes and attachments to tasks.
            </p>

            <p>
                In addition to helping you stay organized and on top of your work, our task management website also offers robust reporting and analytics capabilities. You can view and track your progress over time, see how much time you're spending on each task, and get a clear picture of your workload.
            </p>

            <p>        Whether you're a small business owner, a freelancer, or a student, our task management tool can help you get things done more efficiently and effectively. Try it out today and see how it can transform the way you work.</p>

        </divcla>
    </div>
</div>
