@model Taskmanager.Models.Comment



<h2> Edit</h2>
<br />

@using(Html.BeginForm(controllerName: "Comments", actionName: "Edit", method: FormMethod.Post,
routeValues: new{ id = Model.Id}
)){
    <div class="form-check">
        @Html.Label("Content", "Continut comentariu")
        <br />
        <div class="form-control">
            @Html.Editor("Content", new{@class = "form-control"})
        </div>
        
        <br>
        @Html.ValidationMessage("Content", null, new { @class = "text-danger"})
        <br />
        <button class="btn btn-primary" type="submit">Editeaza comentariul</button>
    </div>
}